:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --first-contacts-color: #757575;
  --second-contacts-color: rgba(255, 255, 255, 0.6);
  --third-contacts-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------------------- Header ------------------ */
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--first-contacts-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/*----------------- Hero ------------------- */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--second-title-color);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--accent-color);
}

/*----------------- About ------------------- */

.about-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*--------------------  Our works ------------------ */

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

/* ------------------ Our team ---------------------- */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------------------ Footer ---------------- */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-contacts-color);
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-contacts-color);
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-contacts-color);
}
/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */
/* Третий цвет #2196F3 */ ;
